<configuration>
<system.webServer>
  <staticContent>
    <clientCache cacheControlMode="DisableCache" cacheControlMaxAge="00:01:00" />
    <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
  </staticContent>
  <rewrite>
    <rules>
      <rule name="SpaRewriteRule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
	    <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/portalcoopereadm/index.html" />
        </rule>
	<rule name="ApiProxyRule" stopProcessing="true">
          <match url="api/(.*)" />
          <action type="Rewrite" url="http://10.1.2.36:3000/{R:1}" />
        </rule>
    </rules>
  </rewrite>

</system.webServer>
</configuration>