.Posicao{
    width: 100%;
    text-align: -webkit-center;
}

.Avaliacao{
    font-size: 5rem;
}

.AvaliacaoVermelha{
color: #df4f2fe6;
}

.AvaliacaoAmarela{
   color: #ecb607
}

.AvaliacaoVerde{
   color: #04a704e6
}